<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Clientes</title>
    <style>
        .container {
            max-width: 960px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="shadow-lg pb-3 mb-5 bg-body rounded">
            <h1 class="p-5 align-content-center">Agregar de los clientes</h4>
            <form action="/crearClientes" method="POST" class="p-5">
                <div class="col-md-6">
                    <label for="id">ID</label>
                    <input type="number" name="id" id="id" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="first_name">Nombre</label>
                    <input type="text" name="first_name" id="first_name" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="last_name">Apellido</label>
                    <input type="text" name="last_name" id="last_name" class="form-control">
                </div>
                <br>
                <button type="submit" class="w-100 btn btn-primary"><i class="bi bi-save"></i> Agregar</button>
            </form>
            <h1 class="p-5 align-content-center" >Buscar cliente</h4>
            <form method="post" action="/buscarCliente" class="p-5">
                <div class="col-md-6">
                    <label for="first_name">Nombre</label>
                    <input type="text" name="first_name" id="first_name" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="last_name">Apellido</label>
                    <input type="text" name="last_name" id="last_name" class="form-control">
                </div>
                <br>
                <button type="submit" class="w-100 btn btn-primary"><i class="bi bi-search"></i> Buscar</button>
            </form>
            <h1 class="p-5 align-content-center">Eliminar cliente</h4>
            <form method="post" action="/eliminarCliente" class="p-5">
                <div class="col-md-6">
                    <label for="id">ID Cliente</label>
                    <input type="number" name="id" id="id" class="form-control">
                </div>
                <br>
                <button type="submit" class="w-100 btn btn-primary"><i class="bi bi-archive"></i> Eliminar</button>
            </form>

            <h1 class="p-5 align-content-center">Editar los clientes</h4>
            <form action="/editarCliente" method="POST" class="p-5">
                <div class="col-md-6">
                    <label for="id">ID</label>
                    <input type="number" name="id" id="id" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="first_name">Nombre</label>
                    <input type="text" name="first_name" id="first_name" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="last_name">Apellido</label>
                    <input type="text" name="last_name" id="last_name" class="form-control">
                </div>
                <br>
                <button type="submit" class="w-100 btn btn-primary"><i class="bi bi-pencil"></i> Editar</button>
            </form>

            <table class="table m-lg-5" id="tablaClientes">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                    </tr>
                </thead>
                <tbody>
                    <% clientes.forEach((cliente)=> { %>
                        <tr>
                            <td>
                                <%= cliente.id%>
                            </td>
                            <td>
                                <%= cliente.first_name%>
                            </td>
                            <td>
                                <%= cliente.last_name%>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>